header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-top: 89px;
  padding-bottom: 55.1px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 1rem 2rem; */
}

.navigation ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}
.burger{
  display: none;
}
.close{
  display: none;
}
.close2{
  display: none;
}
.line{
  padding-bottom: 2px;
  margin-bottom: 6px;
  background-color: black;
  color: black;
border: none;
}
.navigation ul li {
  /* margin: 0 1rem; */
}

.navigation ul li a {
  color: #5e607a;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  margin-left: 3rem;
  font-size: 15px;

}
.navigation2{
  display: none;
}

@media (max-width: 600px) {

  .navigation{
    display: none;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 1rem 0;
  }
  .burger{
    display: block;
    display: flex;
  flex-direction: column;
justify-content: end;
  /* border: 2px solid black; */
  width: 40px;
  }

  .burger2{
    display: none;
  }
  .close2{
    display: block;
  }
  .close{
    display: none;
  }
}
